@charset "UTF-8";
body{
    background-color:rgb(248, 153, 248);
}
a.2nd { 
    color: black;
    text-decoration:none;
}
header {
    background-image: url("img/1.png");
    background-size: contain;
}
